/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
*{
  box-sizing: border-box;
}

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  outline: none;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 16px;
}


@media (max-width: 1200px){
  html {
    font-size: 12px;
  }
  h5{
    font-size: 14px;
  }
}

@media (max-width: 680px){
  html {
    font-size: 10px;
  }
  h5{
    font-size: 12px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

.game-board{
  height: 50vmin;
  width: 50vmin;
  left: 50%;
  top: 45%;
  transform: translate(-50%, -50%);
}

.game-board .btn{
  height: 30%;
  width: 30%;
}

.game-board .btn:disabled{
  opacity: 100;
}

.game-map{
  width: 80vw;
  height: 60vh;
  max-height: 60vh;
  overflow: hidden;
}

a.tag{
  padding: 2px 3px 2px 3px;
  background-color: darkgray;
  color: darkslategrey;
  border-radius: 4px;
  margin: 1px 1px 1px 1px;
}

.vh-75{
  height: 75vh;
}

.tags-cloud{
  min-width: 10vw;
}

.modal{
  background-color: rgba(0, 0, 0, 0.5)
}