@model IEnumerable<SessionVM>
@inject Fifth.Interfaces.ISessionTagCrudService sessionTagService

<div class="h-75">

<div class="text-center">
    <h3 class="text-monospace text-warning">Games</h3>
</div>

<div id="gameCards" class="d-flex flex-row flex-wrap bg-dark justify-content-center justify-content-md-start  p-3 border border-warning rounded h-100 overflow-auto">
    <div class="gameCard">
        <div class="border rounded border-warning m-2 p-2 bg-secondary">
            <div class="text-center text-monospace text-warning">
                <h5 class="bg-dark text-white-50 rounded">[Create]</h5>
                <h6 class="bg-dark text-white-50 rounded ">[New]</h6>
                <div class="text-center text-white-50 bg-dark rounded overflow-hidden">
                    [Game]
                </div>
                <h6 class="mt-2  bg-dark rounded">
                    <a id="newGame" class="text-warning" href="https://localhost:44306/Home/Game/83">Create</a>
                </h6>
            </div>
        </div>
    </div>

    @foreach (var g in Model)
    {
        <div class="gameCard" data-id="@g.Id">
            <div class="border rounded border-warning m-2 p-2 bg-secondary">
                <div class="text-center text-monospace text-warning">
                    <h5 class="bg-dark rounded overflow-hidden">@g.Name</h5>
                    <h6 class="bg-dark rounded overflow-hidden ">@g.UserName</h6>
                    <div class="text-left bg-dark rounded align-content-center overflow-hidden">
                        @{
                            var tags = await sessionTagService.GetTagsBySessionAsync(g.Id);
                            if (tags.Count() == 0)
                            {
                                <span>#[Notags]</span>
                            }
                            else
                            {
                                foreach (var t in tags)
                                {
                                    <span>#@t.Value</span>
                                }
                            }
                        }
                    </div>
                    <h6 class="mt-2 bg-dark rounded">
                        <a class="text-warning " asp-action="Game" asp-route-id="@g.Id">Join</a>
                    </h6>
                </div>
            </div>
        </div>
    }
</div>
</div>