<div class="text-success float-left ml-2 mt-2">
    <h2 id="playerA">
        PlayerA
    </h2>
</div>
<div class="text-success float-right mr-2 mt-2">
    <h2 id="playerB">
        PlayerB
    </h2>
</div>
<div class="game-board position-fixed" id='gameboard'>
    <div class="p-2 h-100 w-100 border border-warning rounded bg-secondary">
        <div class="h-100 w-100 d-flex flex-row flex-wrap justify-content-around align-items-center bg-dark rounded">
            <button id="0" class="btn btn-outline-warning align-content-center"></button>
            <button id="1" class="btn btn-outline-warning"></button>
            <button id="2" class="btn btn-outline-warning"></button>
            <button id="3" class="btn btn-outline-warning"></button>
            <button id="4" class="btn btn-outline-warning"></button>
            <button id="5" class="btn btn-outline-warning"></button>
            <button id="6" class="btn btn-outline-warning"></button>
            <button id="7" class="btn btn-outline-warning"></button>
            <button id="8" class="btn btn-outline-warning"></button>
        </div>
    </div>
</div>

@section Scripts{
    <script @*src="~/js/game.js"*@>
            const crossElem = '<svg viewBox="4 4 8 8" class="bi bi-x" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/></svg>'
            const circleElem = '<svg viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd"d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" /></svg>';

            $('#gameboard button').prop("disabled", true);

    </script>
    <script>
        const homeUrl = "/Home/";
        const hubConnection = new signalR.HubConnectionBuilder()
            .withUrl("/GameHub")
            .build();

        let myChar;
        let myMove = false;

        hubConnection.on("OnPlayerEntered", function (userName, id) {
                console.log(`$User: ${userName} ConnectionId: ${id}`);
        });

        hubConnection.on("Disconnect", () => {
            window.location.replace(homeUrl);
        });

        hubConnection.on("OnGameStarted", data => {
            if (myMove)
                $('#gameboard button').prop("disabled", false);
        });

        hubConnection.on("OnMoveMaid", index => {
            let btn = $(`#gameboard #${index}`);
            btn.prop("disabled", true);
            if (myMove) {
                $('#gameboard button').prop("disabled", true);
                myChar == "o" ? btn.append(circleElem) : btn.append(crossElem);
            }
            else {
                $('#gameboard button').prop("disabled", false);
                myChar == "o" ? btn.append(crossElem) : btn.append(circleElem);
            }
            myMove = !myMove;
        });

        hubConnection.on("AcceptChar", char => {
            myChar = char;
            if (myChar == "x")
                myMove = true;
        });


        $('#gameboard button').click(e => {
            e.preventDefault();
            alert("MoveSend")
            let index = $(e.target).attr('id');
            hubConnection.invoke('MakeMove', index);
        });

        hubConnection.start();
    </script>
}