<div name="userName" class="text-white-50 float-left ml-1 mt-2">
    <h3>
    </h3>
</div>
<div name="userName" class="text-white-50 float-right  mr-1 mt-2">
    <h3>
    </h3>
</div>
<div class="game-board position-fixed" id='gameboard'>
    <div class="p-2 h-100 w-100 border border-warning rounded bg-secondary">
        <div class="h-100 w-100 d-flex flex-row flex-wrap justify-content-around align-items-center bg-dark rounded">
            <button id="0" class="btn btn-outline-warning align-content-center"></button>
            <button id="1" class="btn btn-outline-warning"></button>
            <button id="2" class="btn btn-outline-warning"></button>
            <button id="3" class="btn btn-outline-warning"></button>
            <button id="4" class="btn btn-outline-warning"></button>
            <button id="5" class="btn btn-outline-warning"></button>
            <button id="6" class="btn btn-outline-warning"></button>
            <button id="7" class="btn btn-outline-warning"></button>
            <button id="8" class="btn btn-outline-warning"></button>
        </div>
    </div>
</div>
<div id="modalResult" class="modal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered text-warning">
        <div class="modal-content bg-secondary border border-warning rounded">
            <div class="modal-header">
                <h4 class="modal-title">Game over!</h4>
                <a href="#" class="btn text-white bg-dark btn-lg close" data-toggle="modal" data-target="#modalResult" rel="modal:close" aria-hidden="true">&times;</a>
            </div>
            <h3 id="result" class="modal-body">
            </h3>
            <div class="modal-footer">
                <a asp-action="Index" asp-controller="Home" class="btn text-warning bg-dark btn-lg ">Quit</a>
            </div>
        </div>
    </div>
</div>
<div id="modalStart" class="modal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered text-warning w-25 h-25 ml-auto">
        <div class="modal-content bg-secondary border border-warning rounded">
            <div class="modal-header">
                <h4 class="modal-title">Game started!</h4>
                <a href="#" class="btn text-white bg-dark btn-lg close" data-toggle="modal" data-target="#modalStart" rel="modal:close"
                   aria-hidden="true">&times;</a>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn text-warning bg-dark btn-lg " data-toggle="modal" data-target="#modalStart" rel="modal:close">OK</a>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/js/game.js"></script>
}