<div class="text-success float-left ml-2 mt-2">
    <h2>
        PlayerA
    </h2>
</div>
<div class="text-success float-right mr-2 mt-2">
    <h2>
        PlayerB
    </h2>
</div>
<div class="game-board position-fixed" id='gameboard'>
    <div class="p-2 h-100 w-100 border border-warning rounded bg-secondary">
        <div class="h-100 w-100 d-flex flex-row flex-wrap justify-content-around align-items-center bg-dark rounded">
            <button class="btn btn-outline-warning align-content-center"></button>
            <button class="btn btn-outline-warning"></button>
            <button class="btn btn-outline-warning"></button>
            <button class="btn btn-outline-warning"></button>
            <button class="btn btn-outline-warning"></button>
            <button class="btn btn-outline-warning"></button>
            <button class="btn btn-outline-warning"></button>
            <button class="btn btn-outline-warning"></button>
            <button class="btn btn-outline-warning"></button>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/js/game.js"></script>
}