@{
    ViewData["Title"] = "Main Page";
}
@inject Fifth.Interfaces.ITagsProvider tagsProvider

<div class="col-2 float-left">
    <div class="text-center">
        <h3 class="text-monospace text-warning">Tags</h3>
    </div>
    <div class="p-2  tags-cloud bg-secondary border border-warning rounded">
        <div id="tagsCloud" class="d-flex flex-row flex-wrap justify-content-center">
            <a id="tagPrototype" href="#" data-selected="0"  class="tag" hidden></a>
            @foreach (var item in await tagsProvider.GetAllTags())
            {
            <a href="#" data-selected="0" data-id="@item.Id" data-value="@item.Value" class="tag">#@item.Value</a>
            }
        </div>
    </div>
</div>

<div class="col-2 float-right">
    <div class="text-center">
        <h3 class="text-monospace text-warning">Filter</h3>
    </div>
    <div class="p-2  tags-cloud bg-secondary border border-warning rounded">
        <div id="tagsFilter" class="d-flex flex-row flex-wrap justify-content-center">
        </div>
    </div>
</div>

<div id="gamesTable" class="col-8 offset-2 h-100">
</div>

<div id="modal" class="modal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered text-warning">
        <div id="modalContent" class="modal-content bg-secondary border border-warning rounded">
            <div class="modal-header">
                <h4 class="modal-title">New game</h4>
                <a href="#" class="btn text-white bg-dark btn-lg close" rel="modal:close"
                   aria-hidden="true">&times;</a>
            </div>
            @if (User.Identity.IsAuthenticated)
            {
                await Html.RenderPartialAsync("_CreateGame");
            }
            else
            {
                <div>
                    <div class="modal-body d-flex flex-column justify-content-center">
                        <h5>Please, authorize to create a game!</h5>
                        <a asp-action="SignIn" asp-controller="Account" class="btn text-warning bg-dark btn-lg ">Sign In</a>
                        <a asp-action="SignUp" asp-controller="Account" class="btn text-warning bg-dark btn-lg ">Sign Up</a>
                    </div>
                    <div class="modal-footer">
                        <a href="#" class="btn text-warning bg-dark btn-lg " rel="modal:close">Close</a>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/lib/tagify/tagify.min.js"></script>
    <script src="~/lib/tagify/jQuery.tagify.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
    <script src="~/js/index.js"> </script>
}