@{
    ViewData["Title"] = "Home Page";
}

<div class="col-2 float-left">
    <div class="text-center">
        <h3 class="text-monospace text-warning">Filter</h3>
    </div>
    <div class="p-2  tags-cloud bg-secondary border border-warning rounded">
        <div class="d-flex flex-row flex-wrap justify-content-center">
            <a href="" class="tag">#tag</a>
            <a href="" class="tag">#tag</a>
            <a href="" class="tag">#tag</a>
            <a href="" class="tag">#tag</a>
            <a href="" class="tag">#tag</a>
            <a href="" class="tag">#tag</a>
            <a href="" class="tag">#tag</a>
            <a href="" class="tag">#tag</a>
            <a href="" class="tag">#tag</a>
        </div>
    </div>
</div>
<div class="col-10 offset-2">
    <div class="text-center">
        <h3 class="text-monospace text-warning">Games</h3>
    </div>
    <div class="d-flex flex-row flex-wrap bg-dark justify-content-around p-3 border border-warning rounded">
        <div class="p-2">
            <div class="ml-1 mr-1 bg-success">
                <div class="card-body border rounded border-warning text-center">
                    <h5 class="card-title">Your game</h5>
                    <span class="card-text"></span>
                    <a asp-action="Game" class="text-warning">Create</a>
                </div>
            </div>
        </div>
        <div class="p-2">
            <div class="card border rounded border-warning ml-1 mr-1 bg-secondary">
                <div class="card-body border rounded border-warning text-center">
                    <h5 class="card-title">First game</h5>
                    <span class="card-text"></span>
                    <a href="Game.html" class="text-warning">Join</a>
                </div>
            </div>
        </div>
        <div class="p-2">
            <div class="card border rounded border-warning ml-1 mr-1 bg-secondary">
                <div class="card-body border rounded border-warning">
                    <h5 class="card-title">First game</h5>
                    <span class="card-text"></span>
                    <a>Play</a>
                </div>
            </div>
        </div>
        <div class="p-2">
            <div class="card border rounded border-warning ml-1 mr-1 bg-secondary">
                <div class="card-body border rounded border-warning">
                    <h5 class="card-title">First game</h5>
                    <span class="card-text"></span>
                    <a>Play</a>
                </div>
            </div>
        </div>
        <div class="p-2">
            <div class="card border rounded border-warning ml-1 mr-1 bg-secondary">
                <div class="card-body border rounded border-warning">
                    <h5 class="card-title">First game</h5>
                    <span class="card-text"></span>
                    <a>Play</a>
                </div>
            </div>
        </div>
        <div class="p-2">
            <div class="card border rounded border-warning ml-1 mr-1 bg-secondary">
                <div class="card-body border rounded border-warning">
                    <h5 class="card-title">First game</h5>
                    <span class="card-text"></span>
                    <a>Play</a>
                </div>
            </div>
        </div>
        <div class="p-2">
            <div class="card border rounded border-warning ml-1 mr-1 bg-secondary">
                <div class="card-body border rounded border-warning">
                    <h5 class="card-title">First game</h5>
                    <span class="card-text"></span>
                    <a>Play</a>
                </div>
            </div>
        </div>
        <div class="p-2">
            <div class="card border rounded border-warning ml-1 mr-1 bg-secondary">
                <div class="card-body border rounded border-warning">
                    <h5 class="card-title">First game</h5>
                    <span class="card-text"></span>
                    <a>Play</a>
                </div>
            </div>
        </div>
    </div>
</div>