@{
    ViewData["Title"] = "Main Page";
}
@inject Fifth.Interfaces.IGameManageService gameManageService
@model GameSessionVM
<div class="col-2 float-left">
    <div class="text-center">
        <h3 class="text-monospace text-warning">Tags</h3>
    </div>
    <div class="p-2  tags-cloud bg-secondary border border-warning rounded">
        <div id="tagsCloud" class="d-flex flex-row flex-wrap justify-content-center">
            <a href="" data-selected="0" class="tag">#tag</a>
        </div>
    </div>
</div>

<div class="col-2 float-right">
    <div class="text-center">
        <h3 class="text-monospace text-warning">Filter</h3>
    </div>
    <div class="p-2  tags-cloud bg-secondary border border-warning rounded">
        <div id="tagsFilter" class="d-flex flex-row flex-wrap justify-content-center">
        </div>
    </div>
</div>

<div class="col-8 offset-2">
    @{ await Html.RenderPartialAsync("_GamesTable", await gameManageService.GetAllSessions());}
</div>

<div id="modal" class="modal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered text-warning">
        <div class="modal-content bg-secondary border border-warning rounded">
            <div class="modal-header">
                <h4 class="modal-title">New game</h4>
                <a href="#" class="btn text-white bg-dark btn-lg close" rel="modal:close"
                   aria-hidden="true">&times;</a>
            </div>
            @if (User.Identity.IsAuthenticated)
            {
                <form asp-action="CreateGame" method="post">
                    <div class="modal-body d-flex flex-column justify-content-center">
                        <div class="text-center p-2">
                            <h5>
                                <label>Game name:</label>
                            </h5>
                            <input id='name' type="text" asp-for="Name" class="bg-dark text-warning form-control" />
                        </div>
                        <div class="p-2">
                            <h5 class="text-center">
                                <label class="w-25">Edit tags:</label>
                            </h5>
                            <input id="tagsInput" asp-for="Tags" class="bg-dark text-warning text-monospace col-8 offset-2" />
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn text-warning bg-dark btn-lg" rel="modal:close">Create</button>
                        <a href="#" class="btn text-warning bg-dark btn-lg " rel="modal:close">Close</a>
                        <button id="sendBtn">Test</button>
                    </div>
                </form>
            }
            else
            {
                <div>
                    <div class="modal-body d-flex flex-column justify-content-center">
                        <h5>Please, authorize to create a game!</h5>
                        <a asp-action="SignIn" asp-controller="Account" class="btn text-warning bg-dark btn-lg ">Sign In</a>
                        <a asp-action="SignUp" asp-controller="Account" class="btn text-warning bg-dark btn-lg ">Sign Up</a>
                    </div>
                    <div class="modal-footer">
                        <a href="#" class="btn text-warning bg-dark btn-lg " rel="modal:close">Close</a>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/lib/tagify/tagify.min.js"></script>
    <script src="~/lib/tagify/jQuery.tagify.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
    <script src="~/js/index.js"></script>
    <script>
        //$('#newGame').click((e) => {
        //    e.preventDefault();
        //    $('#modal').modal('show');
        //})
        const hubConnection = new signalR.HubConnectionBuilder()
            .withUrl("/MainHub")
            .build();

        hubConnection.on("Test", function (data) {
            console.log(data);
        });

        hubConnection.on("OnGameCreated", data => {
            console.log(data);
            let gameCardElem = '<div class="p-2"><div class="card border rounded border-warning ml-1 mr-1 bg-secondary"><div class="card-body border rounded border-warning">' +
                `<h5 class="card-title">${data.gameName}</h5><span class="d-block card-text">${data.userName}</span><a>Play</a></div></div></div>`;
            $('#gameCards').append(gameCardElem);
        });

        //$("#sendBtn").click((e) => {
        //    let message = "Test message";
        //    hubConnection.invoke("Test", message);
        //});

        hubConnection.start();
    </script>
}